.banner-description-1 {
  position: absolute;
  bottom: 16.6%;
  left: 0;
  width: 100%;
  padding-left: 2%;
  padding-bottom: 5%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
}

.owl-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #084154;
  padding-bottom: 20px;
}
.owl-nav button {
  margin-top: 20px;
  margin-left: 20px;
}

.owl-prev img, .owl-next img {
  align-items: flex-end;
  width: 20px;
  height: 20px;
}

.item {
  position: relative;
  background: #000;
}

.item .description1 {
  position: absolute;
  padding: 10px;
  color: #fff;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}


.item .description1 h2, p, h3, sup {
  margin-left: 10px;
}

.item .description2 {
  position: absolute;
  padding: 10px;
  color: #fff;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.item .description2 h3 {
  font-size: 42px;
  color: #3EC6E0;
}

.item .description2 h2 {
  font-size: 28px;
}

.item .description2 p {
  font-size: 12px;
  font-weight: normal;
}

.item .description1 h3 {
  font-size: 42px;
  color: #3EC6E0;
}

.item .description1 h2 {
  font-size: 28px;
}

.item .description1 p {
  font-size: 12px;
  font-weight: normal;
}

.item .description2 h2, p, h3, sup {
  margin-left: 10px;
}

.description1 sup {
  margin: 0;
  font-size: 13px;
}

.description2 sup {
  margin: 0;
  font-size: 13px;
}

.owl-nav { 
  flex-direction: row-reverse;
  margin-bottom: 25px;
}
 #desktop01, #desktop02 {
   display: none;
 }

 .content .owl-carousel {
  width: auto !important;
 }

@media (min-width: 720px) {
  .owl-nav {
    transform: rotate(90deg);
    position: absolute;
    right: -8%;
    width: 20%;
    bottom: 20%;
  }

  #desktop01, #desktop02 {
    display: block;
  }

  .description1, .description2 {
    display: none;
  }

  #mobile01, #mobile02 {
    display: none;
  }


}
