.card-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}


.card-store img {
  width: 250px;
  height: 260px;
  margin-bottom: 20px;
}

.cards {
  cursor: pointer;
}

.card-store p {
  text-align: justify;
  font-size: 17px;
  font-weight: normal;
  color: #084154;
}

.card-store h3 {
  font-size: 26px;
  color: #084154;
  font-weight: bold;
}
.card-store h3 sup {
  font-size: 13px;
  margin: 0 auto;
  font-weight: bold;
}

.buy-btn {
  background: #3ec6e0;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  width: 240px;
  height: 41px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.buy-btn:hover {
  background: #084154;
}

.products {
  display: flex;
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: normal;
  color: #084154;
  text-align: justify;
  margin-top: 40px;
}

.products .square {
  display: flex;
  justify-content: start;
  margin-right: 15px;
  width: 23px;
  height: 23px;
  background: #3ec6e0;
}


@media (min-width: 600px) {
  .products {
    margin-left: 200px;
  }

  .card-store {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .cards {
    margin-bottom: 100px;
  }
}


