.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: absolute;
  z-index: 1000;
}

.menu-logo {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container ul li {
  padding: 15px;
}

.container ul li img {
  width: 26px;
  height: 21px;
}

.container a p {
  display: none;
}

.menu-btn {
  cursor: pointer;
}

.shop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #3EC6E0;
  text-align: center;
  color: #fff;
}

@media (min-width: 720px) {
  .container {
    justify-content: space-around;
  }

  .menu-logo {
    flex: 0;
  }

  .menu-logo img {
    margin-left: 40px;
  }


  .container a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container a p {
    display: block;
    color: #fff;
  }

}