.active {
  position: relative;
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  top: 38px;
  left: 5px;
  width: 570px;
  height: 260px;
  background: #3EC6E0;
}

.dropdown-menu thead th{
  text-align: start;
  padding: 0 10px 0 10px;
}

.dropdown-menu tbody tr td {
  line-height: 10mm;
  padding: 0 10px 0 10px;
  font-weight: normal;
}

.dropdown-menu tbody tr td:hover {
  background: #3EC6E0;
}

.dropdown-menu {
  position: absolute;
  background: #084154;
  border: 2px solid #3EC6E0;
  width: 568px;
  height: 252px;
  z-index: 2000;
  margin-top: 20px;
  padding: 44px;
}

.dropdown-menu::before{
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: -12px;
  border-bottom: 10px solid #3EC6E0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.dropdown-menu {
  flex-direction: row;
  color: #fff;
  font-weight: normal;
}

.data-dropdown {
  display: block;
  animation: show-menu 0.3s ease;
}

.active {
  display: none;
}

@keyframes show-menu {
  from  {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}