footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: #3EC6E0;
  color: #fff;
  font-size: 12px;
}

.logo-footer {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  background: #084154;
  height: 60px;
  align-items: center;
}

footer p {
  text-align: center;
  flex: 2;
}

