* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
