.store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store img {
  width: 333px;
  height: 202px;
}

.store img:first-child {
  margin-bottom: 20px;
}

.btn-more-1, .btn-more-2 {
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 53px 53px;
border-color: transparent transparent #3EC6E0 transparent;
cursor: pointer;
}

.btn-more-1 {
  position: absolute;
  display: block;
  right: 0;
  top: 35.3%;
  cursor: pointer;
}

.btn-more-1 span {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 0;
  transform: translate(-50%, 50%);
}

.btn-more-2 {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.btn-more-2 span {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 0;
  transform: translate(-50%, 50%);
}

.imgs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}


@media (min-width: 720px) {
  .store img {
    width: 588px;
    height: 357px;
    margin-left: -150px;
    position: relative;
  }

  .imgs {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 100;
  }

  .store {
    margin-top: -50px;
    position: relative;
  }

  .store img:first-child {
    margin: 0;
  }
  
  .btn-more-1, .btn-more-2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 106px 106px;
    border-color: transparent transparent #3EC6E0 transparent;
    cursor: pointer;
    }

    .btn-more-1 {
      position: absolute;
      display: block;
      right: 51.1%;
      top: 70.5%;
      z-index: 10000;
    }
    
    .btn-more-1 span {
      font-size: 40px;
      color: #fff;
      position: absolute;
      right: 0;
      transform: translate(-90%, 100%);
    }
    
    .btn-more-2 {
      position: absolute;
      display: block;
      bottom: 0;
      right: 11.7%;
      z-index: 1000;
    }
    
    .btn-more-2 span {
      font-size: 40px;
      color: #fff;
      position: absolute;
      right: 0;
      transform: translate(-90%, 100%);
    }
}